$box-sizing: border-box;

html {
  box-sizing: $box-sizing;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: $box-sizing;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
