.payMethods {
  align-items: center;
  background: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  &-content {
    display: flex;
    align-items: flex-start;
    column-gap: 5rem;
  }

  &-card {
    align-items: center;
    display: flex;
    justify-content: center;

    &-icon {
      border-radius: 100%;
      color: var(--primary-blue);
    }

    &-text {
      margin-left: 1rem;
      height: -webkit-fill-available;

      &-title {
        font-size: 18px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
      }

      &-link {
        color: var(--primary-blue);
        font-size: 14px;
        margin: 0;
        text-decoration: none;
        transition: var(--transition);

        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }

  &-more {
    border-left: 1px solid #ebebeb;
    padding: 1.1rem 1.5rem;
  }
}
