.header {
  background: var(--primary-yellow);
  padding: 10px 0;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 99;
  display: block;

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-logo {
    cursor: pointer;
    user-select: none;
  }

  &-form {
    display: flex;
    height: 40px;
    max-width: 585px;
    padding-left: 1rem;
    background: var(--white);
    border-radius: 2px;
    border: 0 rgba(0, 0, 0, 0.2);
    box-shadow: var(--box-shadow);

    &-input {
      border: none;
      outline: none;
      width: 570px;

      &:focus {
        outline: none;
      }

      &::placeholder {
        opacity: 0.6;
      }
    }

    &-search {
      outline: none;
      border: none;
      line-height: 1em;
      background: var(--white);
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        height: 26px;
        border-left: 1px solid #e6e6e6;
        position: absolute;
        top: 6.5px;
      }

      &-icon {
        width: 46px;
        height: 21px;
        color: #666;
      }
    }
  }

  &-rightText {
    max-width: 340px;
    max-height: 39px;
    user-select: none;
    cursor: pointer;
  }
}
