.categsMenu {
  background: #333;
  border-radius: 4px;
  display: block;
  left: 12rem;
  position: relative;
  width: 257px;
  padding: 2rem 0;

  &-container {
    background: rgba(0, 0, 0, 0.2);
    bottom: -38.32rem;
    display: block;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 9;
    display: block;
  }

  &-categories {
    list-style: none;
    &-item {
      cursor: pointer;

      &:hover {
        background: var(--primary-blue);
      }

      &-link {
        color: #fff;
        font-size: 13px;
        padding: 1rem;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.arrow {
  margin-right: 1rem;
}
