.categsMenu {
  background: #333;
  border-radius: 4px;
  display: inline-block;
  left: 12rem;
  position: fixed;
  width: 257px;
  padding: 2rem 0;

  &-container {
    background: rgba(0, 0, 0, 0.3);
    bottom: -38.32rem;
    display: block;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 9;
  }

  p {
    color: #fff;
    text-overflow: ellipsis;
  }
}
